*{ box-sizing: border-box }

img {
   width: 100%;
   display: block;
}

body {
   margin: 0;
   font-family: 'Taviraj', serif;
   overflow: hidden;
}

#app-container{
   max-width: 960px;



   .alertBox{
      position: absolute;
      right: -100%;
      top: 0;
      padding-top: 20px;
      background: #52B3D9;
      overflow: hidden;

      span{
         color: #fff;
         display: inline-block;
         font-size: 24px;
         padding: 0 10px;
      }

      h4{
         text-align: center;
         padding-bottom: 15px;
         color: #fff;
         display: inline-block;
         font-size: 24px;
         margin-right: 20px;
      }
   }

   .pomo-head{
      background: gray;

      .pomo-timer {
         color: RGBA(232, 126, 4, 1.0);
      }

      .pomo-head-but{
         background: RGBA(34, 49, 63, 1.0);
         border-color: RGBA(103, 128, 159, 1.0);
      }
   }
   .pomo-middle-holder {
      padding: auto 30%;
      border: none;
      .pomo-middle {

         width:100%;
         border:none;
         border-bottom: 2.5px RGBA(34, 49, 63, 1.0) solid;


         .pomo-middle-input {
            width:100%;
            border:none;

            height: 100%;

         }
         .pomo-middle-input:focus {
            outline: none;
            font-size: 24px;
         }

         .pomo-middle-but{
            background: RGBA(34, 49, 63, 1.0);
            border-color: RGBA(103, 128, 159, 1.0);
            color: #fff;
            font-size: 20px;
            width:20%;
            height: 100%;
            border-bottom: none;
            border-radius: 0;
         }
      }
   }
   .pomo-bottom-holder {

      .pomo-bottom-list {
         border: 3px solid #555;
         // max-width: 400px;
         margin: 0 auto;
         overflow: hidden;
         padding: 0;

         li {
            list-style: none;
            margin: 0;
            padding: 10px 6px;
            text-align: left;
            position: relative;

            div {
               position: absolute;
               top: 5%; right: 5px;
               padding: 0;

               span{
                  text-align: center;
                  width: 40px;
                  height: 90%;
                  color: #E74C3C;
                  border: 0;
                  margin: 0;

                  padding-top: 7px;

               }

               span:hover {
                  color: blue;
                  background-color: RGBA(25, 181, 254, 0.7)
               }
            }
         }
         li:nth-child(even){
            background: #E08283;
            span {
               color: #333;
            }
         }
      }
   }
}
